<html>
	<head>
		<title> Test </title>
		{% block customcss %}
		{% endblock %}
		{% block customcjs %}
		{% endblock %}
	</head>
	<body>
		<h1><center>MASK</center></h1>
		{% block pagecontent %}
		{% endblock %}
	</body>
</html>